.contacts__fone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__fone::before {
  content: url(../img/icon/tel.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}