.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #fff;
}

.contacts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contacts__address {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}