@charset "UTF-8";
.dropdown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.dropdown:hover .dropdown__menu {
  opacity: 1;
  left: 100%;
  display: block;
}
@media (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.dropdown__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__menu {
  position: absolute;
  padding: 1.75rem 2.125rem;
  color: #000000;
  background: #F2F5F5;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  width: 100%;
  width: 17.0625rem;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -9999px;
  opacity: 0;
}

.dropdown__gear {
  background: #9A9A9A;
  width: 5.6875rem;
  height: 5.6875rem;
  display: block;
  border-radius: 4px;
  margin-bottom: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5625rem;
}

.dropdown__list {
  gap: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000000;
}

.dropdown__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
}

.menu-nav {
  position: absolute;
  max-height: 100vh;
  height: 100%;
  max-width: 48rem;
  width: 100%;
  background: #313131;
  z-index: 1001;
  display: none;
}

.menu_full-screen {
  font-size: 2.25rem;
  color: #FFFFFF;
  height: 100%;
  max-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_full-screen__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 2.25rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20.5rem;
  gap: 2rem;
}
@media (max-width: 480px) {
  .menu_full-screen__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.menu-nav__cross {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 2.625rem;
  right: 2.625rem;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 480px) {
  html {
    font-size: 3.33333vmin;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Play", Arial, sans-serif;
  color: #292929;
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  min-width: 0px;
}

.menu__link {
  white-space: nowrap;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 2.38rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a,
p {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

.button {
  background-color: #E01F3D;
  padding: 1.13rem 2.56rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 6.25rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  height: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button:hover {
  background-color: #fff;
  color: red;
}

@media (max-width: 768px) {
  .gamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.gamburger__pic {
  display: none;
}
@media (max-width: 768px) {
  .gamburger__pic {
    display: block;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.13rem;
  -webkit-column-gap: 0.38rem;
     -moz-column-gap: 0.38rem;
          column-gap: 0.38rem;
}

@media (max-width: 768px) {
  .contacts__header {
    display: none;
  }
}

.contacts__icon {
  max-width: 0.8125rem;
  max-height: 0.8125rem;
}

.contacts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .contacts__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.94rem;
  }
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 480px) {
  .contacts__block {
    text-align: center;
    gap: 0.94rem;
  }
}

.contacts__address {
  font-size: 1.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .contacts__address {
    font-size: 1.3125rem;
  }
}
@media (max-width: 480px) {
  .contacts__address {
    font-size: 1.125rem;
  }
}

.contacts__box {
  line-height: 1.3125rem;
}
@media (max-width: 768px) {
  .contacts__box {
    fill: #E01F3D;
    color: #E01F3D;
  }
}
@media (max-width: 480px) {
  .contacts__box {
    fill: #292929;
    color: #292929;
    font-size: 1rem;
  }
}

.slider {
  background-color: #F5F5F5;
}

.slider__container {
  height: 100%;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

b {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.sliders {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sliders .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sliders .bx-viewport {
  overflow: visible;
  height: 100%;
}

.slider__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/pic/Ellipse__slider.png) left top 50%/50% auto no-repeat;
  background-size: 47%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 950px;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__item--background {
  background: url(../img/pic/Ellipse__red.png) left top 50%/50% auto no-repeat;
}
@media (max-width: 768px) {
  .slider__item {
    background: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider__switch--left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 768px) {
  .slider__switch--left {
    left: 0;
  }
}
@media (max-width: 480px) {
  .slider__switch--left {
    left: 0;
  }
}

.slider__link-switch {
  display: block;
}

@media (max-width: 768px) {
  .slider__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 3.375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    overflow: visible;
  }
  .slider__block::before {
    content: "";
    margin-bottom: 1.9375rem;
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/pic/Ellipse__slider.png) center center/contain no-repeat;
  }
  .slider__block--background::before {
    background: url(../img/pic/Ellipse_minired.png) center center/contain no-repeat;
  }
}
@media (max-width: 480px) {
  .slider__block {
    margin-bottom: 2.1875rem;
  }
}

.slider__text {
  max-width: 26.875rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  line-height: 2.625rem;
}
@media (max-width: 768px) {
  .slider__text {
    max-width: 38.375rem;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 480px) {
  .slider__text {
    max-width: 26rem;
  }
}

.slider__desc {
  max-width: 23rem;
  margin-bottom: 1.9375rem;
}
@media (max-width: 768px) {
  .slider__desc {
    max-width: 38.375rem;
    margin-bottom: 29px;
  }
}
@media (max-width: 480px) {
  .slider__desc {
    max-width: 25.75rem;
    margin-bottom: 1.6875rem;
  }
}

.slider__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .slider__feature {
    margin-bottom: 1.5625rem;
  }
}

.slider__feature-list {
  margin-right: 5.375rem;
  text-align: start;
}
.slider__feature-list:last-child {
  margin-right: 0;
}

.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .slider__box {
    gap: 2.6875rem;
  }
}
@media (max-width: 480px) {
  .slider__box {
    gap: 1.3125rem;
  }
}

.slider__feature-price {
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  color: #151515;
}
@media (max-width: 768px) {
  .slider__feature-price {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .slider__feature-price {
    font-size: 2rem;
  }
}

.team {
  position: relative;
}
.team::before {
  content: url(../img/icon//квадрат.png);
  position: absolute;
  top: -1.125rem;
  right: 10%;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__head {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 3.3125rem;
  text-align: center;
}
@media (max-width: 768px) {
  .team__head {
    margin-bottom: 2.0625rem;
  }
}
@media (max-width: 480px) {
  .team__head {
    margin-bottom: 2.25rem;
    font-size: 32px;
    line-height: 36px;
    width: 100%;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 28.375rem;
}
@media (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    min-height: 0;
    gap: 0;
  }
}
.team__foto {
  margin-bottom: 1.5625rem;
  max-width: 13.75rem;
  max-height: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .team__foto {
    display: none;
  }
}

@media (max-width: 480px) {
  .team__avatar {
    width: 8.625rem;
    height: 11.25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 13.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .team__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .team__item {
    padding: 0;
  }
}

.team__foto--hidden {
  display: none;
}
@media (max-width: 768px) {
  .team__foto--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.3125rem;
  }
}
@media (max-width: 480px) {
  .team__foto--hidden {
    margin-bottom: 1.125rem;
  }
}

.team__box {
  text-align: center;
}

.team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.team__link {
  margin-bottom: 0.6875rem;
  font-size: 1.125rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}
.team__link::after {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background: url(../img/icon/team_tr_down.png) center center no-repeat;
  display: block;
}
.team__link--active::after {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background: url(../img/icon/team_tr_up.png) center bottom no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .team__link {
    font-size: 21.0181px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-family: Alegreya Sans;
  }
}
@media (max-width: 480px) {
  .team__link {
    margin-bottom: 15px;
  }
}

.team__speciality {
  margin-bottom: 0.25rem;
}

.team__desc {
  text-align: center;
  color: #666666;
}
@media (max-width: 768px) {
  .team__desc {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 480px) {
  .team__desc {
    margin-bottom: 0.8125rem;
  }
}

.features {
  background-color: #fff;
  position: relative;
}
@media (max-width: 768px) {
  .features::before {
    left: 6%;
  }
}
.features::before {
  content: url(../img/icon/треугольник.png);
  position: absolute;
  bottom: -1.125rem;
  left: 10%;
}
.features::after {
  content: url(../img/icon/наклонная.png);
  position: absolute;
  top: -1.125rem;
  right: 10%;
}

@media (max-width: 768px) {
  .features__container {
    width: 99%;
  }
}
@media (max-width: 480px) {
  .features__container {
    width: 95%;
  }
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.69rem;
}
@media (max-width: 768px) {
  .features__block {
    margin-bottom: 3.1875rem;
  }
}
@media (max-width: 480px) {
  .features__block {
    margin-bottom: 3.0625rem;
  }
}

.features__head {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.13rem;
}
@media (max-width: 768px) {
  .features__head {
    text-align: center;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 480px) {
  .features__head {
    font-size: 2rem;
    text-align: center;
  }
}

.features__text-content {
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .features__text-content {
    text-align: left;
  }
}

.features__desc {
  font-size: 1rem;
  color: #666666;
  max-width: 36.875rem;
  text-align: center;
  margin: 0 auto;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.625rem;
     -moz-column-gap: 3.625rem;
          column-gap: 3.625rem;
}
@media (max-width: 768px) {
  .features__list {
    -webkit-column-gap: 0.375rem;
       -moz-column-gap: 0.375rem;
            column-gap: 0.375rem;
  }
}
@media (max-width: 480px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.375rem;
  }
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
@media (max-width: 768px) {
  .features__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__items::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .features__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.features__items::after {
  content: url(../img/pic/пробел.png);
  padding-top: 3.63rem;
  position: absolute;
  left: 100%;
}
.features__items:last-child::after {
  display: none;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
  }
}

.features__icon {
  background-color: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  max-width: 8rem;
  max-height: 8rem;
}
@media (max-width: 480px) {
  .features__icon {
    margin-bottom: 0;
  }
}

.features__icon--batory {
  padding: 1.83rem;
}

.features__icon--sound {
  padding: 1.8rem 1.9rem;
}

.features__icon--time {
  padding: 1.63rem;
}

.features__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.44rem;
}
@media (max-width: 768px) {
  .features__title {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 480px) {
  .features__title {
    margin-bottom: 0.1875rem;
  }
}

.features__text {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height: 100vh;
  width: 100vw;
}

.form__overlay-window {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  gap: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 309px;
  height: 176px;
  background: #FFFFFF;
  font-size: 1.125rem;
}

.form {
  background-color: #181818;
  position: relative;
}

.form__head {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.5625rem;
  color: #fff;
}
@media (max-width: 768px) {
  .form__head {
    text-align: center;
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 480px) {
  .form__head {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.4375rem;
  }
}

.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6875rem;
     -moz-column-gap: 1.6875rem;
          column-gap: 1.6875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .form__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.125rem;
  }
}
@media (max-width: 480px) {
  .form__text {
    row-gap: 1rem;
  }
}

.form__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.69rem;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .form__list {
    max-width: 29.125rem;
    width: 100%;
  }
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.88rem;
     -moz-column-gap: 0.88rem;
          column-gap: 0.88rem;
}
@media (max-width: 480px) {
  .form__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form__input {
  color: #000;
  padding: 1.13rem 0.75rem;
  font-size: 0.88rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: 3px solid transparent;
  width: 100%;
}
@media (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.63rem;
  }
}
.form__input:focus {
  border: 3px solid #E01F3D;
}

.form__input--street {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input--h {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  gap: 0.38rem;
}

.form__comments {
  resize: none;
  color: #000;
  padding: 1.13rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 9.5rem;
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
  margin-bottom: 1.75rem;
  font-size: 0.88rem;
}
@media (max-width: 768px) {
  .form__comments {
    min-height: 5.125rem;
    height: 100%;
    margin-bottom: 0.5625rem;
  }
}
.form__comments:focus {
  border: 3px solid #E01F3D;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.form__radio:checked ~ .form__radio-check {
  background-color: #E01F3D;
  border: 6px solid;
}

.form__radio-check {
  background-color: #FFFFFF;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  cursor: pointer;
}

.form__checkbox {
  display: none;
  margin-bottom: 2.88rem;
}
.form__checkbox:checked ~ .form__check {
  background: url(../img/icon/галочка.png) center center no-repeat, #FFFFFF;
}

.form__check {
  background-color: #FFFFFF;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.63rem;
  -webkit-column-gap: 0.63rem;
     -moz-column-gap: 0.63rem;
          column-gap: 0.63rem;
}

.form__option-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.63rem;
     -moz-column-gap: 0.63rem;
          column-gap: 0.63rem;
  margin-bottom: 2.13rem;
}

.form__btn--transparent {
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  padding: 1.13rem 1rem;
}
.form__btn--transparent:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  .form__button {
    text-align: center;
  }
}

.form__btn {
  cursor: pointer;
}

.error {
  background-color: #E01F3D;
}

.logo {
  margin-right: 2.38rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.38rem;
  padding-right: 1.5rem;
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 1.38rem;
  }
}
@media (max-width: 480px) {
  .header {
    padding-right: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__link {
  font-size: 1.13rem;
  font-family: "Alegreya Sans", sans-serif;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 27%;
  right: 3%;
  z-index: 100;
}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
@media (max-width: 480px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu__item {
  margin: 0.5rem;
}
.nav-menu__item--activ .nav-menu__link {
  border-color: #E01F3D;
}
.nav-menu__item--activ .nav-menu__link::before {
  content: "";
  background-color: #E01F3D;
  opacity: 1;
}

.nav-menu__link {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-menu__link::before {
  content: "";
  border: 1px solid transparent;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 60%;
  margin: auto;
}

.preview {
  padding-bottom: 3.69rem;
  padding-top: 1.5rem;
  background-color: #F5F5F5;
  position: relative;
}
@media (max-width: 768px) {
  .preview {
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .preview {
    padding-top: 0.8125rem;
  }
}

.preview__container {
  background: url(../img/pic/Ellipse.png) center right/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 768px) {
  .preview__container {
    background: none;
  }
}

@media (max-width: 768px) {
  .preview__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 3.375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .preview__block::before {
    content: "";
    margin-bottom: 4rem;
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/pic/Ellipse-min.png) center center/contain no-repeat;
  }
}
@media (max-width: 480px) {
  .preview__block {
    margin-bottom: 4.5rem;
  }
  .preview__block::before {
    margin-bottom: 3.5rem;
  }
}

.preview__text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 25rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3.25rem;
}
@media (max-width: 768px) {
  .preview__text {
    max-width: 39.375rem;
    font-size: 3rem;
    margin-bottom: 0.25rem;
  }
}
@media (max-width: 480px) {
  .preview__text {
    max-width: 23.1875rem;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }
}

.preview__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20.75rem;
  font-size: 1.31rem;
  margin-bottom: 2.25rem;
  font-family: "Alegreya Sans", sans-serif;
}
@media (max-width: 768px) {
  .preview__desc {
    margin-bottom: 1.5625rem;
    max-width: 22.1875rem;
  }
}
@media (max-width: 480px) {
  .preview__desc {
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 21.3125rem;
    display: block;
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 768px) {
  .desc {
    display: none;
  }
}

.desc__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #000000;
}

.desc__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.57rem;
     -moz-column-gap: 1.57rem;
          column-gap: 1.57rem;
}

.desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 9.375rem;
  gap: 0.75rem;
}

.reviews {
  background-color: #FFFFFF;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 27.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .reviews__head {
    margin-bottom: 2.75rem;
  }
}
@media (max-width: 480px) {
  .reviews__head {
    font-size: 2rem;
    margin-bottom: 2.4375rem;
  }
}

.reviews__list-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
  min-height: 21.9375rem;
}
@media (max-width: 768px) {
  .reviews__list-reviews {
    margin-bottom: 110px;
  }
}
@media (max-width: 480px) {
  .reviews__list-reviews {
    margin-bottom: 110px;
  }
}

.reviews__item {
  min-height: 21.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #F8FAF9;
}
.reviews__item::before {
  content: "";
  width: 5.1875rem;
  height: 5.1875rem;
  background-color: #fff;
  border-radius: 50%;
  top: -50px;
  display: block;
  position: absolute;
  z-index: 3;
}
@media (max-width: 768px) {
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.review.active {
  opacity: 1;
}

.review {
  opacity: 0;
  position: absolute;
  padding: 2.5rem;
}
@media (max-width: 768px) {
  .review {
    padding: 2.5rem;
  }
}

.reviews__desc {
  padding-top: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .reviews__desc {
    margin-bottom: 1.75rem;
    padding-top: 2.25rem;
  }
}
@media (max-width: 480px) {
  .reviews__desc {
    padding-top: 1.4375rem;
  }
}

.reviews__img {
  width: 15.8125rem;
  height: 16.5rem;
}
@media (max-width: 768px) {
  .reviews__img {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__foto {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__head-review {
  margin-bottom: 1.69rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .reviews__head-review {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 480px) {
  .reviews__head-review {
    margin-bottom: 0.6875rem;
  }
}

.reviews__text {
  margin-bottom: 1.3125rem;
  color: #666666;
  padding-right: 6.5rem;
  line-height: 1.1875rem;
}
@media (max-width: 768px) {
  .reviews__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 480px) {
  .reviews__text {
    margin-bottom: 0.875rem;
  }
}

.reviews__name {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .reviews__name {
    font-weight: 400;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  gap: 0.375rem;
}
@media (max-width: 768px) {
  .reviews__list {
    gap: 0.25rem;
  }
}
@media (max-width: 480px) {
  .reviews__list {
    gap: 0.625rem;
  }
}

.active .reviews__icon {
  outline: 6px solid #E01F3D;
  outline-offset: -0.375rem;
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 480px) {
  .active .reviews__icon {
    width: 4rem;
    height: 4rem;
  }
}

.reviews__icon {
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 480px) {
  .reviews__icon {
    width: 4rem;
    height: 4rem;
  }
}
.reviews__icon:hover {
  outline: 0.375rem solid #E01F3D;
  outline-offset: -0.375rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
@media (max-width: 768px) {
  .socials {
    -webkit-transform: none;
            transform: none;
    margin-right: 1.75rem;
  }
}
@media (max-width: 480px) {
  .socials {
    -webkit-transform: none;
            transform: none;
    margin-right: 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 10.875rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
@media (max-width: 768px) {
  .social {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 480px) {
  .social {
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }
}

.social__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1.875rem;
  max-height: 1.875rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  fill: #B3B3B3;
}
@media (max-width: 768px) {
  .social__icon {
    max-width: 2rem;
    max-height: 2rem;
  }
}
@media (max-width: 480px) {
  .social__icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
}
.social__icon:hover {
  fill: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.map__pic {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.13rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}