@media (max-width: 768px) {
  .container {
    max-width: 619px;
  }

  .preview__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: top 80px center;
    background-size: 323px;
  }

  .preview {
    padding-bottom: 0;
  }

  .preview__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 9.38rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 100%;
  }

  .preview__text {
    max-width: 619px;
  }

  .menu,
.contacts__header,
.desc {
    display: none;
  }

  .gamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .gamburger__pic {
    display: block;
  }

  .features__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__items::after {
    display: none;
  }

  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    text-align: center;
  }

  .reviews__foto {
    max-width: 130px;
  }

  .reviews__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 0;
  }

  .form__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__list {
    max-width: 466px;
    width: 100%;
  }

  .form__button {
    text-align: center;
  }

  .form__input {
    padding: 0.5rem 0.63rem;
  }

  .form__comments {
    min-height: 82px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 450px;
  }

  .preview__block {
    margin-bottom: 4.5rem;
  }

  .features__head {
    font-size: 2rem;
  }

  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
    margin-bottom: 2rem;
  }

  .features__text-content {
    text-align: left;
  }

  .features__icon {
    margin-bottom: 0;
  }

  .form__head {
    font-size: 2rem;
  }

  .form__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.94rem;
  }

  .contacts__block {
    text-align: center;
    gap: 0.94rem;
  }
}