.reviews {
  background-color: #FFFFFF;
  padding: 68px 79px 63px;
}

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.reviews__block::before {
  content: "";
  width: 83px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(0px, -55px);
          transform: translate(0px, -55px);
  display: block;
  position: absolute;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 8px;
  padding: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8FAF9;
}

.reviews__head-review {
  padding-top: 32px;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 42px;
  color: #666666;
  padding-right: 104px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__icon {
  border-radius: 50%;
  border: 6px solid transparent;
}
.reviews__icon:hover {
  border: 6px solid #E01F3D;
}