.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 174px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.social__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  fill: #CDD1D2;
}

.social__icon:hover {
  fill: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}