html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;

  @include tel {
    font-size: 3.33333vmin;
  }
}

html,
body {
  height: 100%;
  @include indents;

}

body {
  font-family: 'Play', Arial, sans-serif;
  color: $black;
  height: 100%;
  position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include indents;

}

* {
  @include indents;
  box-sizing: border-box;

}

.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  align-items: center;



}

.wrapper {
  min-height: 100%;
  @include flex_column;
  position: relative;
  overflow: hidden;
  min-width: 0px;

}

.menu__link {
  white-space: nowrap;

}

.menu__list {
  flex-wrap: wrap;
  margin-right: 2.38rem;
  justify-content: center;

}

a,
p {
  text-decoration: none;
  font-style: normal;
  color: inherit;

}

ul li {
  list-style: none;
  @include indents;

}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 95%;
  position: relative;
 

}