.button {
  background-color: $red;
  padding: 18px 41px;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 100px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $gray;
  }

}