.button {
  background-color: $red;
  padding: 1.13rem 2.56rem;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: rem(100px);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  height: rem(60px);
  align-items: center;

  &:hover {
    background-color: #fff;
    color: red;
 
  }

}