//секция почему

.features {
  background-color: #fff;

}

.features__block {
  @include flex_column;
  align-items: center;
  margin-bottom: 59px;
}

.features__head {
  @include font_head;
  margin-bottom: 18px;
}

.features__text-content {
  text-align: center;
  margin: 0 auto;
}

.features__desc {
  font-size: 16px;
  color: $gray;
  max-width: 590px;
  text-align: center;
  margin: 0 auto;


}

.features__list {
  @include flex;
  column-gap: 19px;

}

.features__items {
  display: flex;

  &::after {
    content: url(../img/pic/пробел.png);
    padding-top: 58px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

}

.features__item {
  @include flex_column;
  max-width: 276px;
  align-items: center;
  
}

.features__icon {
  // align-items: center;
  @include features__item;
  margin-bottom: 24px;
  width: 128px;
  height: 128px;



}
.features__icon--batory {
padding: 29px 30px;

}

.features__icon--sound {
  padding: 30px 26px;

}

.features__icon--time {
  padding: 26px 31px;

}

.features__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
  align-items: center;
}


.features__text {
  text-align: center;
  color: $gray;
  width: 247px;
}