//секция почему

.features {
  background-color: #fff;

}



.features__block {
  @include flex_column;
  align-items: center;
  margin-bottom: 3.69rem;
}

.features__head {
  @include font_head;
  margin-bottom: 1.13rem;
}

.features__text-content {
  text-align: center;
  margin: 0 auto;
  
}

.features__desc {
  font-size: 1rem;
  color: $gray;
  max-width: rem(590px);
  text-align: center;
  margin: 0 auto;


}

.features__list {
  @include flex;
  column-gap: 1.19rem;
  

}

.features__items {
  display: flex;



  &::after {
    content: url(../img/pic/пробел.png);
    padding-top: 3.63rem;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

}

.features__item {
  @include flex_column;
  align-items: center;


}

.features__icon {
  @include features__item;
  margin-bottom: 1.5rem;
  max-width: rem(128px);
  max-height: rem(128px);



}

.features__icon--batory {
  padding: 1.83rem;

}

.features__icon--sound {
  padding: 1.8rem 1.9rem;

}

.features__icon--time {
  padding: 1.63rem;

}

.features__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.44rem;

}


.features__text {
  color: $gray;
  display: flex;

}