//секция почему

.features {
  background-color: #fff;
  position: relative;

  @include tablet {
    &::before {
      left: 6%;
    }
  }

  &::before {
    content: url(../img/icon/треугольник.png);
    position: absolute;
    bottom: rem(-18px);
    left: 10%;
  }

  &::after {
    content: url(../img/icon/наклонная.png);
    position: absolute;
    top: rem(-18px);
    right: 10%;
  }

}

.features__container {
  @include tablet { 
    width: 99%;
  }

  @include tel {
    width: 95%
  }
} 

.features__block {
  @include flex_column;
  align-items: center;
  margin-bottom: 3.69rem;

  @include tablet { 
    margin-bottom: rem(51px);
  }

  @include tel {
    margin-bottom: rem(49px);
  }
} 


.features__head {
  @include font_head;
  margin-bottom: 1.13rem;

  @include tablet { 
    text-align: center;
    margin-bottom: rem(10px);

  }

  @include tel {
    font-size: 2rem;
    text-align: center;
  }

}


.features__text-content {
  text-align: center;
  margin: 0 auto;

}

.features__desc {
  font-size: 1rem;
  color: $gray;
  max-width: rem(590px);
  text-align: center;
  margin: 0 auto;

}

.features__list {
  @include flex;
  column-gap: rem(58px);

  @include tablet { 
    column-gap: rem(6px);
    
  }

  @include tel {
    flex-direction: column;
    gap: 38px;
  }


}

.features__items {
  display: flex;
  flex: 1;
  position: relative;

  @include tablet { 
    display: flex;

    &::after {
      display: none;
    }
    
  }

  @include tel {
    align-items: center;
    flex-direction: row;
  }

  &::after {
    content: url(../img/pic/пробел.png);
    padding-top: 3.63rem;
    position: absolute; 
    left: 100%
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

}

.features__item {
  @include flex_column;
  align-items: center;

  @include tablet { 
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    text-align: center;
    
  }

  @include tel {
    flex-direction: row;
    align-items: center;
    column-gap: 0.75rem;

  }

}

.features__icon {
  @include features__item;
  margin-bottom: 1.5rem;
  max-width: rem(128px);
  max-height: rem(128px);

  @include tel {
    margin-bottom: 0;
  }

}

.features__icon--batory {
  padding: 1.83rem;

}

.features__icon--sound {
  padding: 1.8rem 1.9rem;

}

.features__icon--time {
  padding: 1.63rem;

}

.features__text-content {

  @include tel {
    text-align: left;
  }
  
}

.features__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.44rem;

  @include tablet { 
    margin-bottom: rem(20px);
    
  }

  @include tel {
    margin-bottom: rem(3px);
  }

}

.features__text {
  color: $gray;
  display: flex;

}