// секция форм

.form {
  background-color: #181818;

}

.form__head {
  @include font_head;
  @include flex;
  margin-bottom: rem(57px);
  color: #fff;

  @include tablet {
    text-align: center;
    margin-bottom: rem(25px);
  }

  @include tel {
    font-size: 2rem;
    text-align: center;
    margin-bottom: rem(39px);
  }
}

.form__text {
  display: flex;
  column-gap: rem(27px);
  justify-content: space-between;
  width: 100%;

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: rem(18px);

  }

  @include tel {
    row-gap: rem(16px);
  }

}

.form__list {
  flex: 1;
  @include flex_column;
  gap: 0.69rem;
  color: #FFFFFF;
  
  @include tablet {
    max-width: rem(466px);
    width: 100%;

  }
}

.form__item {
  display: flex;
  column-gap: 0.88rem;

  @include tel {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.form__input {
  color: #000;
  padding: 1.13rem 0.75rem;
  font-size: 0.88rem;
  border-radius: 4px;
  display: flex;
  flex: 1;
  outline: none;
  border: 3px solid transparent;
  width: 100%;

  @include tablet {
    padding: 0.5rem 0.63rem;

  }

  &:focus {
    border: 3px solid #E01F3D;

  }
}


.form__input--street {
  flex: 1;
  display: flex;
}

.form__input--h {
  width: 100%;
  flex: 1;
  display: flex;
}

.form__label {
  @include flex_column;
  flex: 1;
  color: #fff;
  gap: 0.38rem;

}

.form__comments {
  resize: none;
  color: #000;
  padding: 1.13px 0.13rem;
  display: flex;
  width: 100%;
  height: rem(152px);
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
  margin-bottom: rem(28px);

  @include tablet {
    min-height: rem(82px);
    height: 100%;
    margin-bottom: rem(9px);

  }

  &:focus {
    border: 3px solid #E01F3D;

  }
}

.form__radio {
  display: flex;
  display: none;

}

.form__radio:checked~.form__radio-check {
  background-color: #E01F3D;
  border: 6px solid;
}

.form__radio-check {
  background-color: #FFFFFF;
  width: rem(25px);
  height: rem(25px);
  border-radius: 50%;
  cursor: pointer;

}


.form__checkbox {
  display: none;
  margin-bottom: 2.88rem;

  &:checked~.form__check {
    background: url(../img/icon/галочка.png) center center no-repeat, #FFFFFF;

  }

}

.form__check {
  background-color: #FFFFFF;
  cursor: pointer;
  width: rem(24px);
  height: rem(24px);
  border-radius: 4px;
  display: flex;

}

.form__option {
  @include flex_center;
  margin-bottom: 0.63rem;
  column-gap: 0.63rem;

}

.form__option-check {
  @include flex_center;
  column-gap: 0.63rem;
  margin-bottom: 2.13rem;

}


//секция кнопок

.form__btn--transparent {
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  padding: 1.13rem 1rem;

  &:hover {
    background-color: transparent;
  }

}

.form__button {
  @include  tablet {
    text-align: center;
  }
 
}