$Whitesmoke: #F5F5F5;
$black: #292929;
$red: #E01F3D;
$gray:#666666;

@function rem($px) {
  @return $px / 16px + 0rem;

}
  

@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin indents {
  margin: 0;
  padding: 0;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin font_head {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin flex_center {
  display: flex;
  align-items: center;
}

@mixin features__item {
  background-color: #F2F5F4;
  border-radius: 50%;
}

@mixin circle_activ ($width: 17px, $height: 17px) {
  border: 1px solid $red;
  border-radius: 50%;
  width: $width;
  height: $height;
}



@import "base.scss";
@import "button.scss";
@import "contacts.scss";
@import "features.scss";
@import "form.scss";
@import "header.scss";
@import "menu.scss";
@import "nav.scss";
@import "preview.scss";
@import "reviews.scss";
@import "socials.scss";
@import "map.scss";
@import "footer.scss";
@import "media.scss";


