@media (max-width: 768px) {


  .preview__container {
    // flex-direction: column;
    // background-position: top 80px  center;
    // background-size: 323px;
    background: none;

  }

  .preview {
    padding-bottom: 0;

  }

  .preview__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 9.38rem;
    justify-content: end;
    // height: 100%;
    width: 100%;
    flex: 1;

    &::before {
      content: "";
      margin-bottom: 4rem;
      width: rem(323px);
      height: rem(323px);
      background: url(../img/pic/Ellipse-min.png) center center / contain no-repeat;

    }

  }

  .preview__text {
    max-width: rem(619px);
    font-size: 3rem;
    
  }


  .menu,
  .contacts__header,
  .desc {
    display: none;

  }

  .gamburger {
    display: flex;
    flex: 1;
    justify-content: end;
  }

  .gamburger__pic {
    display: block;

  }

  .features__head {
    text-align: center;
  }

  .features__items {
    display: flex;

    &::after {
      display: none;
    }

  }

  .reviews__item {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    text-align: center;


  }

  .reviews__foto {
    max-width: rem(130px);
  }

  .reviews__text {
    display: flex;
    height: 100%;
    padding: 0;
  }

  .form__head {
    text-align: center;
  }

  .form__text {
    flex-direction: column;

    align-items: center;

  }

  .form__list {
    max-width: rem(466px);
    width: 100%;
  }

  .form__button {
    text-align: center;
  }

  .form__input {
    padding: 0.5rem 0.63rem;
  }

  .form__comments {
    min-height: rem(82px);
  }

  .contacts__box {
    fill: $red;
    color: $red;
  }

}






@media (max-width: 480px) {

  html {
    font-size: 14px;
  }

  .preview__text {
    max-width: rem(371px);
    font-size: 2rem;

  }


  .preview__block {
    margin-bottom: 4.5rem;
    

  }

  .features__head {
    font-size: 2rem;
    text-align: center;
  }

  .features__list {
    flex-direction: column;
    gap: 2rem;
  }

  .features__items {
    align-items: center;
    flex-direction: row;

  }

  .features__item {
    flex-direction: row;
    align-items: center;
    column-gap: 0.75rem;


  }

  .features__text-content {
    text-align: left;
  }


  .features__icon {
    margin-bottom: 0;

  }

  .reviews__head {
    font-size: 2rem;
  }

  .form__head {
    font-size: 2rem;
    text-align: center;

  }

  .form__text {
    row-gap: rem(16px);
  }

  .form__item {
    justify-content: center;
    flex-wrap: wrap;
    
  }

  

  .contacts__footer {
    flex-direction: column;
    align-items: center;
    gap: 0.94rem;
  }

  .contacts__block {
    text-align: center;
    gap: 0.94rem;

  }

  .contacts__box {
    fill: #292929;
    color: #292929;
  }

}

// @media (max-width: 320px) {
//  html { font-size: 11px;}
//   .container {
//     max-width: 300px;

//   }
// }