
// навигация

.nav-menu {
  display: flex;
  position: absolute;
  top: 242px;
  right: 44px;


}

.nav-menu__list {
  @include flex_column;
  align-items: center;

}

.nav-menu__item {
  background-color: #292929;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  opacity: 60%;
  display: flex;
  border: 1px solid #292929;
  margin: 8px;

}

.nav-menu__item--activ {
  @include circle_activ;
  // background: url(../img/icon/Ellipse.png) center center no-repeat;
  opacity: 1;
  background-color: transparent;
  @include flex;
  align-items: center;
  margin: 1px;

  &::before {
    content: '';
    @include circle_activ (4px, 4px);
    background-color: $red;
    // transform: translate(75%, 75%);
    // margin: auto;

  }

}
