.preview {
  padding-bottom: 3.69rem;
  padding-top: 1.5rem;
  background-color:  $Whitesmoke;
  
}
.preview__container {
  background: url(../img/pic/Ellipse.png) center right  no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // flex: 1;


}


.preview__text {
  text-transform: uppercase;
  display: flex;
  max-width: rem(400px);
  font-size: 3rem;
  margin-bottom: 1rem;

}

.preview__desc {
  display: flex;
  max-width: rem(332px);
  font-size: 1.31rem;
  margin-bottom: 2.25rem;
  font-family: 'Alegreya Sans', sans-serif;
}

.desc__icon {
  width: rem(40px);
  height: rem(40px);
  fill: #000000;
}


.desc__menu {
  display: flex;
  column-gap: 1.57rem;

}

.desc__item {
  display: flex;
  max-width: rem(150px);
  gap: 0.75rem;
}

// .desc__item--one::before {
//   content: url(../img/icon/Listening.png);

// }

// .desc__item--two::before {
//   content: url(../img/icon/charging.png);
// }

// .desc__item--three::before {
//   content: url(../img/icon/plug.png);
// }
