// секция иконок соцсетей

.socials {
  display: flex;
}
.social {
  display: flex;
  max-width: rem(174px);
  column-gap: 0.63rem;
  
}

.social__class {
  display: flex;
  flex: 1;
}

.social__icon {
  flex: 1;
  max-width: rem(30px);
  max-height: rem(30px);
  transition: .5s;
  border-radius: 50%;
  fill: #B3B3B3;

}


.social__icon:hover {
  fill: #000;
  transition: .5s;
}