// секция иконок соцсетей

.socials {
  display: flex;
  transform: translateX(20px);

  @include tablet {
    transform: none;
    margin-right: rem(28px);

  }

  @include tel {
    transform: none;
    margin-right: 0;
    
  }

}

.social {
  display: flex;
  max-width: rem(174px);
  column-gap: rem(10px);
  

  @include tablet {
    column-gap: rem(10px);
  }
 
  @include tel {
    column-gap: rem(14px);
  }

}

.social__class {
  display: flex;
  flex: 1;

}

.social__icon {
  flex: 1;
  max-width: rem(30px);
  max-height: rem(30px);
  transition: .5s;
  border-radius: 50%;
  fill: #B3B3B3;

  @include tablet {
    max-width: rem(32px);
    max-height: rem(32px);
  }

  @include tel {
    max-width: rem(24px);
    max-height: rem(24px);
  }

  &:hover {
    fill: #000;
    transition: .5s;
  }

}
