#map {
  // max-width: 100%;
  width: 100%;
  height: 100%;
  // object-fit: cover;
  // position: relative;
  // display: block;
  // width: 950px;
  // height: 650px;
  zoom: .5 !important;


}

.map {
  
  position: relative;
}