.preview {
  padding-bottom: 3.69rem;
  padding-top: 1.5rem;
  background-color: $Whitesmoke;
  position: relative;

  @include tablet {
    padding-bottom: 0;
  }

  @include tel {
    padding-top: rem(13px);
  }

}

.preview__container {
  background: url(../../img/pic/Ellipse.png) center right / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include tablet {
    background: none;
  }

}

.preview__block {

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: rem(54px);
    justify-content: center;
    flex: 1;

    &::before {
      content: "";
      margin-bottom: 4rem;
      width: rem(323px);
      height: rem(323px);
      background: url(../../img/pic/Ellipse-min.png) center center / contain no-repeat;

    }
  }

  @include tel {
    margin-bottom: 4.5rem;
    &::before {
      margin-bottom: rem(56px);
      
    }
  }
}

.preview__text {
  text-transform: uppercase;
  display: flex;
  max-width: rem(400px);
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: rem(52px);

  @include tablet {
    max-width: rem(630px);
    font-size: 3rem;
    margin-bottom: rem(4px);

  }

  @include tel {
    max-width: rem(371px);
    font-size: 2rem;
    line-height: rem(36px);
    margin-bottom: rem(16px);
  }

}

.preview__desc {
  display: flex;
  max-width: rem(332px);
  font-size: 1.31rem;
  margin-bottom: 2.25rem;
  font-family: 'Alegreya Sans', sans-serif;

  @include tablet {
    margin-bottom: rem(25px);
    max-width: rem(355px)
  }

  @include tel {
    font-size: rem(20px);
    line-height: rem(20px);
    width: rem(341px);
    display: block;
    margin-bottom: rem(25px);
  }
}

.desc {
  @include tablet {
  display: none;
  
  }
}

.desc__icon {
  width: rem(40px);
  height: rem(40px);
  fill: #000000;
}


.desc__menu {
  display: flex;
  column-gap: 1.57rem;

}

.desc__item {
  display: flex;
  max-width: rem(150px);
  gap: 0.75rem;

}