@charset "UTF-8";
html, body {
  height: 100%;
  background-color: #313131;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Play", Arial, sans-serif;
  color: #292929;
  font-size: 16px;
  height: 100%;
  background-color: #313131;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a, p {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
}

.wrapper__page {
  width: 1100px;
  margin: 0 auto;
  background: url(../img/pic/Ellipse.png) top 111px right 99px no-repeat, #F5F5F5;
  position: relative;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  background-color: #E01F3D;
  padding: 18px 41px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 100px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background-color: #666666;
}

.contacts__fone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__fone::before {
  content: url(../img/icon/tel.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  background-color: #fff;
  padding-top: 101px;
  padding-bottom: 98px;
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 59px;
}

.features__head {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 18px;
}

.features__desc {
  font-size: 16px;
  text-align: center;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 590px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__items::after {
  content: url(../img/pic/пробел.png);
  padding-top: 58px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 276px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__item::before {
  content: url(../img/pic/battory.png);
  background-color: #F2F5F4;
  border-radius: 50%;
  padding: 34px 48px;
  margin-bottom: 24px;
}

.features__item--icon-sound::before {
  content: url(../img/pic/sound.png);
  background-color: #F2F5F4;
  border-radius: 50%;
  padding: 38px 38px;
  margin-bottom: 24px;
}

.features__item--icon-time::before {
  content: url(../img/pic/time.png);
  background-color: #F2F5F4;
  border-radius: 50%;
  padding: 34px 34px;
  margin-bottom: 24px;
}

.features__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__text {
  text-align: center;
  color: #666666;
  width: 247px;
}

.form {
  background-color: #181818;
  padding-top: 66px;
  padding-bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__head {
  margin-bottom: 57px;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  color: #FFFFFF;
}

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.form__input {
  color: #000;
  padding: 18px 12px;
  font-size: 14px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: 3px solid transparent;
}
.form__input:focus {
  border: 3px solid #E01F3D;
}

.form__input--street {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input--h {
  width: 105px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.form__comments {
  resize: none;
  color: #000;
  padding: 18px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  width: 100%;
  min-height: 152px;
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 28px;
}
.form__comments:focus {
  border: 3px solid #E01F3D;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.form__radio:checked ~ .form__radio-check {
  background-color: #E01F3D;
  border: 6px solid;
}

.form__radio-check {
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  cursor: pointer;
  margin-bottom: 46px;
}
.form__checkbox:checked ~ .form__check {
  background: url(../img/icon/галочка.png) center center no-repeat, #FFFFFF;
}

.form__check {
  background-color: #FFFFFF;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__option-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__btn--transparent {
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  padding: 18px 15px;
}
.form__btn--transparent:hover {
  background-color: transparent;
}

.logo {
  margin-right: 38px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  margin-bottom: 86px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__link {
  font-size: 18px;
  font-family: "Alegreya Sans", sans-serif;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0;
  max-width: 643px;
  width: 100%;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 242px;
  right: 44px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__item {
  background-color: #292929;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  opacity: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #292929;
  margin: 8px;
}

.nav-menu__item--activ {
  border: 1px solid #E01F3D;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  opacity: 1;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1px;
}
.nav-menu__item--activ::before {
  content: "";
  border: 1px solid #E01F3D;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #E01F3D;
}

.preview {
  padding-bottom: 59px;
}

.preview__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preview__text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  font-size: 48px;
  margin-bottom: 17px;
}

.preview__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 332px;
  font-size: 21px;
  margin-bottom: 36px;
  font-family: "Alegreya Sans", sans-serif;
}

.preview__button {
  margin-bottom: 70px;
}

.desc__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  max-width: 150px;
  gap: 12px;
}

.desc__item--one::before {
  content: url(../img/icon/Listening.png);
}

.desc__item--two::before {
  content: url(../img/icon/charging.png);
}

.desc__item--three::before {
  content: url(../img/icon/plug.png);
}

.reviews {
  background-color: #FFFFFF;
  padding: 68px 79px 63px;
}

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.reviews__block::before {
  content: "";
  width: 83px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(0px, -55px);
          transform: translate(0px, -55px);
  display: block;
  position: absolute;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 8px;
  padding: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8FAF9;
}

.reviews__head-review {
  padding-top: 32px;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 42px;
  color: #666666;
  padding-right: 104px;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__icon {
  border-radius: 50%;
  border: 6px solid transparent;
}
.reviews__icon:hover {
  border: 6px solid #E01F3D;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 174px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.social__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.social__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  fill: #CDD1D2;
}

.social__icon:hover {
  fill: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: #fff;
}

.contacts__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contacts__address {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */